* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1A120B;
}

a {
    text-decoration: none;
    display: block;
    position: relative;
    width: 220px;
    border: 2px solid #F8FFDB;
    padding: 18px 50px;
    text-transform: uppercase;
    border-radius: 30px;
    overflow: hidden;
}

a span {
    color: #ffffff;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 7px;
    z-index: 1;
}

a .btn-liquid {
    position: absolute;
    height: 220px;
    width: 220px;
    top: -95px;
    left: 0;
    background-color: #346751;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

a .btn-liquid::before,
a .btn-liquid::after {
    position: absolute;
    content: "";
    height: 150%;
    width: 150%;
    top: 35px;
    left: 50%;
    background-color: #000;
    transform: translate(-50%, -75%);
}

a .btn-liquid::before {
    background-color: rgb(21, 21, 21, 1);
    border-radius: 43%;
    animation: btnAnimate 5s linear infinite;
}

a .btn-liquid::after {
    background-color: rgba(21, 21, 21, 0.5);
    border-radius: 38%;
    animation: btnAnimate 10s linear infinite;
}

a:hover .btn-liquid {
    top: -180%;
}

@keyframes btnAnimate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}